* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: cyan;
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  margin-top: 10vh;
  width: 50%;
  text-align: center;
  height: 500px;
  overflow: hidden;
  border: 2px solid linear-gradient(red, cyan);
  background-image: linear-gradient(red, cyan);
}

form input {
  width: 60%;
  height: 45px;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}

form input::placeholder {
  color: green;
}

form input:focus {
  outline-color: cyan;
}

ul {
  padding: 0;
  width: 60%;
  margin: auto;
}

li {
  list-style: none;
  border-radius: 10px;
  margin: 0;
  padding: 1em;
  font-size: 1.2rem;
}

li:nth-child(odd) {
  background-color: rgb(161, 13, 8);
  color: rgb(255, 255, 255);
}

li:nth-child(even) {
  background-color: cyan;
  color: rgb(5, 5, 5);
}

.highlight {
  background-color: pink;
}
